/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*Font*/
@font-face {
    font-family: 'MetropolisRegular';
        src: url('metropolis/Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetropolisRegularItalic';
        src: url('metropolis/Metropolis-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetropolisBold';
        src: url('metropolis/Metropolis-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'MetropolisBoldItalic';
        src: url('metropolis/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
      }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
   font-family: 'MetropolisRegular';
   font-weight: normal;
   font-style: normal;
}


#content img {
  width: 100%;
  margin-top:10px;
}#logo {margin:0;}

h1 {
    font-size: 1.5em;
    color: #552B46
}

a{
  color: #552B46;
}

a:hover{
  color: #9c6787;
}

footer {color: #552B46;}

/*Layout*/
#content,
footer .wrapper{
  width: 90%;
  max-width: 900px;
}

/*Menü*/
#menu {
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #fcf7ff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	  color: #552B46;
}

#menu ul {
	margin: 10px auto;
  padding: 0;
	text-align: center;
	height: 100%;
}

#menu li {
	display: inline;
	height: 100%;
}

#menu li a {
		padding: 10px 10px;
		position: relative;
		text-decoration: none;
		font-weight: bold;
		color: #552B46;
		font-size: 17px;
}

#menu li a:hover,
#menu .current_page_item a{
	color: #9c6787;
}
/*Menü ende*/
/*Content*/

#content{
  margin: 57px auto 20px auto;
  padding: 0 10px;
}

#unterzeichnerinnen h1{margin-bottom:0;}

#erstunterzeichnerinnen img{
  width: 15%;
  padding: 5px;
}

#unterzeichnerinnen li{
  list-style-type: none;
}
/*Content Ende*/

/*footer*/
footer {
  background-color: #fcf7ff;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
}

footer .wrapper{
  margin: 15px auto 0 auto;
  padding:15px;
}

footer h1 {
    font-size: 1em;
    margin: 5px 0 0;
  }

  #umsetzung {
    margin-top:20px;
    font-size:0.75em;
  }
/*footer ende */

/* Small Screen*/
@media screen and (max-width: 900px){
  #erstunterzeichnerinnen img{
    width: 45%;
  }
}
/*Small Screen Ende*/

/*Formular*/
#form{
    border-radius:2px;
    padding: 10px 20px 30px 20px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    max-width:350px;
    margin:0 auto;
}

input{
    width:95%;
    height:35px;
    margin: 5px 0;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}

input[type=button]{
    background-color:#552B46;
    border:1px solid white;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width: 98%;
}
textarea{
    width:95%;
    height:80px;
    margin-top:5px;
    border-radius:3px;
    padding:5px;
    resize:none;
}
span{
    color:red
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
    font-size:14px;
    color:green;
    text-align:center;
}
/*Formular Ende*/














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
